* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 16px 0;
}

.right-links ul {
    display: flex;
    gap: 32px;
    font-size: 18px;
}

.right-links ul li {
    list-style-type: none;
}

.right-links ul a {
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
.hero-section {
    display: flex;
    padding: 90px;
    justify-content: space-around;
    align-items: center;
    background: #1f2937;
}
.hero-picture img {
    height: 350px;
    width: auto;
    border-radius: 15px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-content p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-content button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 110px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.info-title {
    text-align: center;
    margin: 50px;
}

.infomations {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.info img {
    width: 250px;
    height: auto;
    border: #3882f6 3px solid;
    border-radius: 15px;
    margin-bottom: 20px;
}
.info {
    width: 250px;
    text-align: center;
}
.quote-section {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px 250px;
    margin-top: 50px;
}

.quote-guy {
    text-align: right;
    font-weight: bolder;
}

.quote-section .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.action-section {
    display: flex;
    justify-content: center;
    margin: 80px;
}

.action-content {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 50px;
    display: flex;
    border-radius: 15px;
    gap: 90px;
}

.action-content button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: 110px;
    border-radius: 5px;
    border: solid #e5e7eb 2px;
}

.strong-text {
    font-weight: bold;
    font-size: 18px;
}
